@font-face {
  font-family: 'Ownglyph_corncorn-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ownglyph_corncorn-Rg', sans-serif;
}

#root {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 251, 239);
}

header {
  background-color: rgb(255, 128, 0);
  height: 70px;
  width: 100%;
}

nav {
  width: 1000px;
  margin: 0 auto;
  padding: 12px 0;
}

h1 {
  text-align: center;
  font-size: 40px;

  color: #fff;
}

.container {
  width: 80vw;
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  gap: 20px;
}
section {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #303030;
  padding: 50px;
}

.like_eat {
  width: 50vw;
  list-style: none;
  display: flex;
  justify-content: space-between;

  padding: 40px;
  flex-wrap: wrap;
  gap: 20px;
  li {
    width: 200px;
    height: 250px;
  }
}

.like_eat img {
  width: 200px;
  height: 200px;
  object-fit: cover; /* 이미지 비율 유지하면서 꽉 차게 조절 */
  border-radius: 10px; /* 둥근 모서리 (선택 사항) */
}

.eat_list {
  width: 50vw;
  list-style: none;
  display: flex;
  justify-content: space-between;

  padding: 40px;
  flex-wrap: wrap;
  gap: 20px;
  li {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
  }
}

.eat_list img {
  width: 200px;
  height: 200px;
  object-fit: cover; /* 이미지 비율 유지하면서 꽉 차게 조절 */
  border-radius: 10px; /* 둥근 모서리 (선택 사항) */
}
